<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many receipts -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Receipts
      </li>

      <% @user.receipts.each do |receipt| %>
        <li class="list-group-item">
          <a href="/receipts/<%= receipt.id %>">
            <%= receipt.event_id %>
          </a>
          <a href="/receipts/<%= receipt.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/receipts/<%= receipt.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_receipt/<%= receipt.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many attendances -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Attendances
      </li>

      <% @user.attendances.each do |attendance| %>
        <li class="list-group-item">
          <a href="/attendances/<%= attendance.id %>">
            <%= attendance.event_id %>
          </a>
          <a href="/attendances/<%= attendance.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/attendances/<%= attendance.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_attendance/<%= attendance.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
