<!-- Validation failure messages -->
<% if @receipt.errors.any? %>
  <% @receipt.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Receipt</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_receipt" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for event_id -->
      <div class="form-group">
        <label for="event_id" class="control-label">
          Event
        </label>

        <%= select_tag(:event_id, options_from_collection_for_select(Event.all, :id, :organizer_id, @receipt.event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for payer_id -->
      <input type="hidden" name="payer_id" value="<%= current_user.id %>">

      <!-- Label and input for receipt_img -->
      <div class="form-group">
        <label for="receipt_img" class="control-label">
          Receipt img
        </label>

        <input type="text" id="receipt_img" name="receipt_img" placeholder="Receipt img" class="form-control" value="<%= @receipt.receipt_img %>">
      </div>

      <button class="btn btn-success">
        Create Receipt
      </button>
      or
      <a href="/receipts">Cancel</a>
    </form>
  </div>
</div>
