<div class="page-header">
  <h3>Attendance #<%= @attendance.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Event</dt>
      <dd><%= @attendance.event_id %></dd>

      <dt>Attendee</dt>
      <dd><%= @attendance.attendee_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/attendances" class="btn btn-primary">
        Back
      </a>
      <a href="/attendances/<%= @attendance.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_attendance/<%= @attendance.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Attendance has many receipt_lines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Receipt_lines
      </li>

      <% @attendance.receipt_lines.each do |receipt_line| %>
        <li class="list-group-item">
          <a href="/receipt_lines/<%= receipt_line.id %>">
            <%= receipt_line.description %>
          </a>
          <a href="/receipt_lines/<%= receipt_line.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/receipt_lines/<%= receipt_line.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_receipt_line/<%= receipt_line.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
