<div class="page-header">
  <h3>Attendance #<%= @attendance.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Event</dt>
      <dd><%= @attendance.event_id %></dd>

      <dt>Attendee</dt>
      <dd><%= @attendance.attendee_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/attendances" class="btn btn-primary">
        Back
      </a>
      <a href="/attendances/<%= @attendance.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_attendance/<%= @attendance.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Attendance has many receipt_lines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Receipt_lines
      </li>

      <% @attendance.receipt_lines.each do |receipt_line| %>
        <li class="list-group-item">
          <a href="/receipt_lines/<%= receipt_line.id %>">
            <%= receipt_line.description %>
          </a>
          <a href="/receipt_lines/<%= receipt_line.id %>" class="btn btn-primary">
            Show
          </a>
          <a href="/receipt_lines/<%= receipt_line.id %>/edit" class="btn btn-warning">
            Edit
          </a>
          <a href="/delete_receipt_line/<%= receipt_line.id %>" class="btn btn-danger" rel="nofollow">
            Delete
          </a>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_receipt_line" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for claimer_id -->
      <div class="form-group">
        <label for="claimer_id" class="control-label">
          Claimer
        </label>

        <%= select_tag(:claimer_id, options_from_collection_for_select(Attendance.all, :id, :event_id), :class => "form-control") %>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for line_value -->
      <div class="form-group">
        <label for="line_value" class="control-label">
          Line value
        </label>

        <input type="text" id="line_value" name="line_value" placeholder="Line value" class="form-control" value="">
      </div>

      <!-- Label and input for receipt_id -->
      <div class="form-group">
        <label for="receipt_id" class="control-label">
          Receipt
        </label>

        <%= select_tag(:receipt_id, options_from_collection_for_select(Receipt.all, :id, :event_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Receipt Line
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
